.wy-side-nav-search img {
    display: block;
    margin: auto auto 0.809em auto;
    height: 150px;
    width: 200px;
    background-color: black;
    padding: 1px;
    border-radius: 25%;
}

label {
	color: #000100;
}

#fwhm_pix {
	color: gray;
}

#fwhm_arcsec {
	color: gray;
}
